td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
section{
	font-size: 15px;
	color: yellow;
	margin: auto;
	padding: auto;
}
body{
	background-color: #FEE0E0;
}
